<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Monica Leonor | ESEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/esen.png" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="https://www.esen.edu.sv/" target="_blank">
            <img src="/static/images/esen.png" alt="ESEN" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Monica Leonor" class="profile-pic nav-link" />
              <span class="caption nav-link">Monica Leonor</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/monicaleonor98/" target="_blank" class="nav-link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/MonicaLeonor98" target="_blank" class="nav-link">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/MonicaLeonorH" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="mailto:monicaleonor98@gmail.com" class="btn nav-link">Email me!</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Monica Leonor</h2>
          <h3>ESEN Business engineering</h3>
          <p>HTML - Python - SQL Server - CSS - Java</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Monica Leonor" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hello 👋🏽</h2>
          <p>
            Hi there! My name is Monica Valeria Leonor Hernandez, I am from 
            El Salvador and a currently third year business engineering student 
            at ESEN university.
          </p>
          <p>
            I am very interested in the programming area, for the creation of 
            programs that facilitate the development of projects for companies. 
            I also care about the environment and I would like to look for ways 
            to solve problems in such a way that they are environmentally friendly.
          </p>
          <p>
            I like to travel and meet new people, learn about different cultures and
               visit places that help me learn more about the history of different countries. 
               This helps me increase my social and communication skills, as well as keep 
               an open mind.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>IMPROVE YOUR BUSINESS</h2>
          <p>
            I can help create programs that improve the development of your company
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Programming</h2>
            <p>
              With my knowledge of programs like Java, Python and SQL, I can help 
              to create functional web programs and also in the database administration 
              part.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-tree" aria-hidden="true"></i>
            <h2>Eco-friendly</h2>
            <p>
              My proposals are focused on solving the problems of the company 
              and at the same time guaranteeing a safe approach for the 
              environment. I fully support the circular economy.
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROJECTS</h2>
        <p>These are some of my recent projects</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/website.png" />
        </div>
        <div class="project-description">
          <h2>Website-Tribute page</h2>
          <p>
            This is tribute page dedicated to Pokemon that I created for educational 
            purpose, where you can find information about this anime. Also you 
            can find links of the official web sites of Pokemon. This proyect 
            was created using HTML, CSS and python.
          </p>
          <a href="https://github.com/MonicaLeonor/pagina_web" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Cashier app</h2>
          <p>
            This is a simple chashier app I developed for educational purpose. With
            this app you can create a bank account, in order to make fictitious deposits, 
            withdraw money and make transactions from one account to another. Furthermore, 
            the program is capable of generating a summary of the movements carried out. 
            It was created using python.
          </p>
          <a href="https://github.com/MonicaLeonor/Ejercicio2" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/cashier.png" />
        </div>
      </div>

      <hr /> 
    </section>


    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        I would love to be able to work with you. Any questions do not hesitate
         to contact me, I am happy to help you.
      </p>
      <p>
      
      <div class="container">
        <p>
          <a href="mailto:monicaleonor98@gmail.com"><i class="fas fa-envelope-open"></i> monicaleonor98@gmail.com</a>
        </p>
        <p>
          <a href="https://www.instagram.com/monicaleonor98/" target="_blank"><i class="fab fa-instagram"> Instagram</i></a>
        </p>
        <p>
          <a href="https://www.facebook.com/MonicaLeonor98" target="_blank"><i class="fab fa-facebook"> Facebook</i></a>
        </p>
        <p>
          <a href="https://twitter.com/MonicaLeonorH" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="#projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> CV of Monica Leonor; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript by Chaoo Charles © 2020</p>
      </div>
      <div class="footer-social">
        <a href="https://www.instagram.com/monicaleonor98/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/MonicaLeonor98" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/MonicaLeonorH" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>